

$dayColor: #E1F6F4;
$nightColor: #002560;


* {
  margin: 0;
  padding: 0;
}

canvas { display: block; margin: 2em; }

.bg-canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, lighten(#97a8c0,20%) 40%, #97a8c0 80%);
  background-size: cover;
  height: 250vw;
  font-size: 200%;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .section {
    $day-image-shadow-color: #E1F6F4;
    $day-image-shadow-opacity: 0.6;
    display: flex;
    align-items: center;
    $avatar-size: 260px;
    margin: 200px auto;
    width: 85%;

    .img-wrapper {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: $avatar-size;
        height: $avatar-size;
        border-radius: $avatar-size / 2;
        box-shadow: inset 0 0 50px 1em rgba($day-image-shadow-color, $day-image-shadow-opacity), 0 0 30px 10px rgba($day-image-shadow-color, $day-image-shadow-opacity);
        -moz-box-shadow: inset 0 0 50px 1em rgba($day-image-shadow-color, $day-image-shadow-opacity), 0 0 30px 10px rgba($day-image-shadow-color, $day-image-shadow-opacity);
        -webkit-box-shadow: inset 0 0 50px 1em rgba($day-image-shadow-color, $day-image-shadow-opacity), 0 0 30px 10px rgba($day-image-shadow-color, $day-image-shadow-opacity);
      }
    }
    .avatar {
      height: $avatar-size;
      width: $avatar-size;
      border-radius: $avatar-size / 2;
    }

    .text {
      margin-left: 30px;
      h2 {
        margin-bottom: 20px;
      }
    }

    &.at-night {
      color: white;
      .img-wrapper {
        $night-image-shadow-color: rgba(3, 2, 23, 0.7);
        &:before {
          box-shadow: inset 0 0 50px 1em $night-image-shadow-color, 0 0 30px 10px $night-image-shadow-color;
          -moz-box-shadow: inset 0 0 50px 1em $night-image-shadow-color, 0 0 30px 10px $night-image-shadow-color;
          -webkit-box-shadow: inset 0 0 50px 1em $night-image-shadow-color, 0 0 30px 10px $night-image-shadow-color;
        }
      }
    }
  }
}
