@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

$dayColor: #E1F6F4;
$nightColor: #002560;

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, lighten(#97a8c0, 20%) 40%, #000 80%);
  background-size: cover;
  height: 150vw;
  font-size: 200%;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

canvas {
  display: block;
  margin: 2em;
}

.contact-icons {
  position: fixed;
  top: 35%;
  z-index: 9999;
  width: 64px;
  right: 0;
  a {
    position: relative;
    right: -32px;
    transition: right .3s;
    img {
      height: 64px;
      width: 64px;
    }
    &:hover {
      right: 0;
    }
  }
}

.bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .section {
    $day-image-shadow-color: #E1F6F4;
    $day-image-shadow-opacity: 0.6;
    display: flex;
    align-items: center;
    $avatar-size: 260px;
    margin: 200px auto;
    width: 85%;

    .img-wrapper {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: $avatar-size;
        height: $avatar-size;
        border-radius: $avatar-size / 2;
        box-shadow: inset 0 0 50px 1em rgba($day-image-shadow-color, $day-image-shadow-opacity), 0 0 30px 10px rgba($day-image-shadow-color, $day-image-shadow-opacity);
        -moz-box-shadow: inset 0 0 50px 1em rgba($day-image-shadow-color, $day-image-shadow-opacity), 0 0 30px 10px rgba($day-image-shadow-color, $day-image-shadow-opacity);
        -webkit-box-shadow: inset 0 0 50px 1em rgba($day-image-shadow-color, $day-image-shadow-opacity), 0 0 30px 10px rgba($day-image-shadow-color, $day-image-shadow-opacity);
      }
    }
    .avatar {
      height: $avatar-size;
      width: $avatar-size;
      border-radius: $avatar-size / 2;
    }

    .text {
      margin-left: 30px;
      h2 {
        margin-bottom: 20px;
      }
    }

    &.at-night {
      color: white;
      .img-wrapper {
        $night-image-shadow-color: rgba(3, 2, 23, 0.7);
        &:before {
          box-shadow: inset 0 0 50px 1em $night-image-shadow-color, 0 0 30px 10px $night-image-shadow-color;
          -moz-box-shadow: inset 0 0 50px 1em $night-image-shadow-color, 0 0 30px 10px $night-image-shadow-color;
          -webkit-box-shadow: inset 0 0 50px 1em $night-image-shadow-color, 0 0 30px 10px $night-image-shadow-color;
        }
      }
    }
  }
}

.disco-ball-light-wrapper {
  position: relative;
  top: -316px;
  left: 50%;

  .disco-ball {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -50px;
    @include animation(rotateDiscoBall 18s linear infinite);
  }

  .disco-ball-light {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -50px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.2;
    -webkit-filter: blur(20px);
  }

  .square {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 6px;
    height: 6px;
    transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
  }

  .disco-ball-middle {
    height: 100%;
    border-radius: 100%;
    background-color: #111;
    position: absolute;
    background: -webkit-linear-gradient(top, #111, #333);
    background: -moz-linear-gradient(top, #111, #333);
    background: linear-gradient(top, #111, #333);
    @include animation(rotateDiscoBallMiddle 18s linear infinite);
  }
}

@include keyframes(reflect) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(rotateDiscoBallMiddle) {
  0% {
    transform: rotateX(90deg) rotateY(0deg) rotate(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateY(-360deg) rotate(0deg);
  }
}

@include keyframes(rotateDiscoBall) {
  0% {
    transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}
